<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stone.manager.mapper.OrderInfoMapper">
    <resultMap id="orderStatistics" type="com.stone.model.entity.order.OrderStatistics" autoMapping="true"/>

    <select id="selectOrderStatistics" resultMap="orderStatistics">
        select  DATE_FORMAT(create_time,'%Y-%m-%d') orderDate,
                sum(total_amount) totalAmount,
                count(id) totalNum
        from order_info
        group by DATE_FORMAT(create_time,'%Y-%m-%d')
        having DATE_FORMAT(create_time,'%Y-%m-%d') = #{createTime}
    </select>
</mapper>